*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html
{
    font-family: Arial, Helvetica, sans-serif;
}
/*
từ ngoài vào trong
từ trên xuống dưới
tổng quan đến chi tiết
*/

/*
1.Vị trí
2.Kích thước
3.Màu sắc
4.Kiểu dáng: kiểu chữ, hình tròn, vuông
*/
        /* COMMON*/
.clear
{
    clear:both;   
}
.text-white
{
    color: #fff !important;
}
.row
{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after
{
    content: "";
    display: block;
    clear: both;
}     
.col
{
    float:left;
    padding-left: 8px;
    padding-right: 8px;
}   
.col-half
{
    width: 50%;
}

.col-third
{
    width: 33.333%;
}
.col-full
{
    width: 100%;
}
.mt-8
{
    margin-top: 8px !important;
}
.mt-16
{
    margin-top: 16px !important;
}
.btn
{
    color:#fff;
    background-color:#000 ;
    text-decoration: none;
    padding:11px 16px;
    display:inline-block; /* khi box đè lên chữ */
    margin-top: 15px;
    border: none;
    /* float: right; */

}
.btn:hover
{
    cursor: pointer;
    background-color: #ccc;
    color:#000
}
.pull-right
{
    float: right !important;
}

        /* MAIN */

                /* HEADER */
#header
{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height:46px;
    background-color: black;
    z-index: 1;
}
#nav 
{
    display: inline-block;
}
#nav , .subnav
{
    list-style-type: none;
}
#nav >  li
{
    display:inline-block;
        /* inline để nó lên 1 dòng
    block là giữ thuộc tính khối để có thể css kích thước */

}

#nav li
{
    position:relative;

}
#nav .subnav
{
    min-width: 160px;
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background-color: white;
    box-shadow: 0 0 10px rgb(81, 80, 80);
}
#nav .subnav a
{
    color:black;
    padding:0 12px;
    line-height: 38px;
}
#nav .subnav li:hover a
{
    color:black;
    background-color: gray;

}

#nav > li > a
{
    color:white;
    text-transform: uppercase;
} 

#nav li a 
{
    text-decoration: none;
    line-height: 46px;
    padding:0 24px;
    display:block;

}
#nav > li:hover > a{
    color:black;
    background-color:gray;

}
#nav > li:hover .subnav
{
    display:block;
}
#nav .nav-icon
{
    font-size: 20px;
    
}
#header .search-btn
{    
    float:right;
    line-height: 46px;
    padding: 0px 21.5px;
    cursor: pointer;    /* thay đổi hình dạng cuả trỏ chuột 
                            ví dụ: mũi tên -> bàn tay                */
}

#header .search-icon
{
    color:white;
    font-size: 30px;
}
#header .search-btn:hover
{
    background-color:#f44336;
}

#slider
{
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /* 50% chiều ngang của chính nó */
        /* khi đặt theo % thì tỉ lệ theo chiều ngang kich thước của chính nó */
        /* background-image có thể đổ nền ảnh từ phần padding vào. nên trên đặt padding như thế đó  */
    background: url("https://www.w3schools.com/w3images/chicago.jpg") top center / cover no-repeat;

}
#slider .text-content
{
    position: absolute;
    bottom:47px;
    color: white;
    /* cách căn giữa khi sử dụng thuộc tính position */
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    /* or */
        /* width:100%; */
    /* or */
        /* left:0;
        right:0; */
}
#slider .text-heading
{
    font-weight: 500;
    font-size: 24px;
    margin-top: 25px;
}
#slider .text-des
{
    font-size: 15px;

}

          /* CONTENT */
#content .content-section
{
    width: 800px;
    margin: auto;
    padding: 64px 0 112px;
}
#content .section-heading, 
#content .secton-sub-heading
{
    text-align: center;
}
#content .section-heading
{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .secton-sub-heading
{
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    color:#666666;
    /* or 
         opacity: 0.6; */
}
#content .about-text
{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify; /* căn đều hai bên */
    line-height: 1.4; /* chỉnh độ cao của các dòng */
}
#content .member-item
{
    /* float:left;
    width: 33.333%; */
    /* or 
    width:calc(100% / 3)
    */
    text-align: center;
}
#content .member-img
{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
#content .member-list
{
    margin-top: 48px;
}

            /* TOUR DATES */
.tour-section
{
    background-color: #000;
}
.ticket-list
{
    background-color: white;
    margin-top: 40px; 
       list-style-type: none;

}
.ticket-list li
{
    color:#757575;
    font-size: 15px;
    padding:11px 16px;
    border-bottom: 1px solid #ddd;
}
.ticket-list .sold-out
{
    background-color: #F44336;
    color:white;
    padding:3px 4px;
    margin-left: 16px;
}
.ticket-list .quantity
{
    float:right;
    width:24px;
    height:24px;
    background-color: #000000;
    color:white;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
    /* khi có giá trị là inline + thuộc tính float thì được hiểu là display:block; => có thể css margin âm để di chuyển khối đó */

}

            /* PLACES */
.place-list
{
    margin-top: 32px;
    /* margin-left: -8px; đẩy ra 2 mép = cách dùng âm */
    /* margin-right: -8px;   */
   
}
.place-img
{
    width:100%;
    display: block;
}
.place-img:hover
{
    opacity:0.6;
}

.place-body
{
    background-color: #fff;
    padding:16px;
    font-size: 15px;
}
.place-heading
{
    font-size: 15px;
    font-weight: 600;
}
.place-time
{
    margin-top: 15px;    
    color:#666666;
}
.place-des
{
    margin-top: 15px;
    line-height: 1.4;
}

            /* CONTACT */
.contact-content
{
    margin-top: 48px;
}
.contact-info
{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="fa-"]
{
    width: 30px;
    display: inline-block;
    
}
.contact-form
{
    font-size: 15px;

}
.contact-form .form-control
{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

                /* MAP */
.map-section img
{
    width: 100%;
}
            /* FOOTER */
#footer
{
    padding: 64px 16px;
    text-align: center;
}
#footer .copyright a:hover,
#footer .social-list a{
    color:rgb(0, 0, 0, 0.6);
    text-decoration: none;

}
#footer .social-list a:hover{
    color:rgb(0, 0, 0, 0.4);

}
#footer .copyright
{
    margin-top: 15px;
    color:rgb(0, 0, 0, 0.6);

}


            /* MODAL */
.modal
{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgb(0, 0, 0, 0.4);
    align-items: center; /* giữa dọc */
    justify-content: center; /* giữa ngang */
    display:none;
}
.modal-container
{
    background-color:white;
    width:900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
}
.modal-header
{
    background-color: #009688;
    height:130px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.modal-heading-icon
{
    padding-right: 16px;
}
.modal-close
{
    position: absolute;
    right: 0;
    top: 0;
    color:white;
    cursor: pointer;
    padding: 12px;
    opacity:0.8;
    font-size: 20px;
}
.modal-close:hover{
    opacity: 1;
}
.modal-body
{
    padding:16px;
}
.modal-label
{
    font-size: 15px;
    display: block;
    margin-bottom: 12px;
}
.modal-input
{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-tickets
{
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}
#buy-tickets:hover
{
    opacity: 0.9;
}

.modal-footer
{
    padding: 16px;
    text-align: right;
    
}
.modal-help a
{
    color:#2196F3;
}
